<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col" *ngIf="!cryptoCoins" style="text-align: center;">
    Loading
  </div>
  <ng-container *ngIf="cryptoCoins.length > 0">
    <app-chart [sortBy]="sortBy" [$coinData]="cryptoCoins"></app-chart>

    <div class="mdl-cell mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="sortCoins('price')">Sort
        By
        Price (Descending)</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="sortCoins('name')">Sort
        By
        Name (Ascending)</button>

    </div>

    <div class="mdl-cell mdl-cell--2-col" *ngFor="let crypto of cryptoCoins">
      <app-summary [crypto]="crypto"></app-summary>
    </div>
  </ng-container>
</div>